
@{
    ViewBag.Title = "管理員首頁";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>管理員首頁</title>
</head>
<body>
    <hr />
    <div>
        這邊是管理員首頁，歡迎 @Session["Welcome"]本系統~~
    </div>
</body>
</html>
